@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300&family=Yatra+One&display=swap');
#content {
    max-width: 1600px;
    margin: 0 auto;
}
nav a {
    text-align: center;
    color: #124559;
    text-decoration: none;
}
#hero-msg h1 {
    text-align: center;
}
#hero-msg h4 {
    text-align: center;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
#background {
    height: 725px;
    background-color: #F2C14E;
}
body {
    background-color: #BDB4BF;
    font-family: "Signika", sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
header {
    background-color: #F55536;
}
nav a:hover {
    background-color: #305463;
    color: #F55536;
}
.book {
    background-color: #BDB4BF;
    color: #124559;
    text-decoration: none;
    font-size: 18px;
}
.join {
    background-color: #F2C14E;
    color: #124559;
    text-decoration: none;
    font-size: 18px;
}
.book:hover {
    background-color: #124559;
    color: #F55536;
}
.join:hover {
    background-color: #124559;
    color: #F55536;
}
.msg {
    background-color: #F2C14E;
    font-size: 1.5em;
}
.msg h2 {
    color: #124559;
    font-family: "Yatra One", Helvetica;
}
.msg p {
    color: #124559;
    font-size: .8em;
}
footer {
    background-color: #F55536;
    color: #124559;
}
footer a {
    color: #124559;
    text-decoration: none;
}
footer a:hover {
    background-color: #124559;
    color: #F55536;
}
footer p {
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: none;
}
.home-title {
    color: #124559;
    font-family: "Yatra One", Helvetica;
    font-size: 2em;
}
h2 {
    color: #124559;
    font-family: "Yatra One", Helvetica;
    margin: 0;
}
h4 {
    color: #124559;
    font-family: "Yatra One", Helvetica;
}
.logo {
    width: 80px;
}
.icon {
    width: 80px;
}