@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300&family=Yatra+One&display=swap');
#content {
    max-width: 1600px;
    margin: 0 auto;
}
nav a {
    text-align: center;
    color: #124559;
    text-decoration: none;
    padding: 35px;
}
nav a:hover {
    background-color: #305463;
    color: #F55536;
}
#hero-msg h1, #hero-msg h4, .button-box, main section {
    text-align: center;
}
main section img {
    box-sizing: border-box;
}
#logo_link {
    padding-top: 5px;
}
#background {
    height: 725px;
    background-color: #F2C14E;
}
body {
    background-color: #BDB4BF;
    font-family: "Signika", sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
header {
    background-color: #F55536;
}
.card-img {
    border: 10px solid #0a0a0a;
}
.book {
    background-color: #BDB4BF;
    color: #124559;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
    text-align: center;
}
.join {
    background-color: #F2C14E;
    color: #124559;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover {
    background-color: #124559;
    color: #F55536;
}    
.join:hover {
    background-color: #124559;
    color: #F55536;
}
.msg {
    background-color: #F2C14E;
    font-size: 1.5em;
    padding: 35px;
}
.msg h2 {
    color: #124559;
    font-family: "Yatra One", Helvetica;
}
.msg p {
    color: #124559;
    font-size: .8em;
    padding-bottom: 15px;
}
.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}
footer {
    background-color: #F55536;
    color: #124559;
    padding: 25px 50px;
    margin-top: 200px;
}
footer a {
    color: #124559;
    text-decoration: none;
}
footer a:hover {
    background-color: #124559;
    color: #F55536;
}
footer p {
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: none;
}
footer .social img {
    padding-top: 15px;
}
.home-title {
    color: #124559;
    font-family: "Yatra One", Helvetica;
    font-size: 2em;
    margin-top: 10px;
}
h2 {
    color: #124559;
    font-family: "Yatra One", Helvetica;
    margin: 0;
}
h4 {
    color: #124559;
    font-family: "Yatra One", Helvetica;
}
.logo {
    width: 80px;
}
.icon {
    width: 80px;
    padding-top: 10px;
}