#content {
    max-width: 1600px;
    margin: 0 auto;
}
nav a {
    text-align: center;
    color: #124559;
}
#hero-msg h1 {
    text-align: center;
}
#hero-msg h4 {
    text-align: center;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
#background {
    height: 725px;
    background-color: #F2C14E;
}
body {
    background-color: #F2C14E;
}
header {
    background-color: #F55536;
}
nav a:hover {
    background-color: #124559;
    color: #F55536;
}
.book {
    background-color: #F2C14E;
    color: #124559;
}
.join {
    background-color: #F2C14E;
    color: #124559;
}
.book:hover {
    background-color: #124559;
    color: #F55536;
}
.join:hover {
    background-color: #124559;
    color: #F55536;
}
.msg {
    background-color: #F2C14E;
}
footer {
    background-color: #F55536;
    color: #124559;
}
footer a {
    color: #124559;
}
footer a:hover {
    background-color: #124559;
    color: #F55536;
}
.home-title {
    color: #124559;
}
h4 {
    color: #124559;
}
.msg h2 {
    color: #124559;
}
.msg p {
    color: #124559;
}